<h2>Olá, {{student}}!</h2>
<div>
  <p style="text-align: justify">
    Sou da equipe do GymPoint e li o seu pedido de ajuda:
    <br />
    <br />
    <center><Strong>{{question}}</Strong></center>
    <br />
    <br />
    <strong>Resposta: </strong>
    {{answer}}
    <br>
    Espero ter ajudado! Fique a vontade para fazer novas perguntas.
  </p>

</div>
